<div class="container mt-5">
    <h2 class="catalogo-title">Catálogo de Libros</h2>

    <!-- Filtros -->
    <div class="filters mt-4 filters-container">
        <div class="form-group">
            <label for="categoria">Filtrar por categoría:</label>
            <select id="categoria" [(ngModel)]="categoriaSelecc" class="form-control" (change)="aplicarFiltros()">
                <option value="">Todas</option>
                <ng-container *ngFor="let categoria of getCategorias(); let i = index">
                    <option [value]="categoria">{{ categoria }}</option>
                </ng-container>
            </select>
        </div>

        <div class="form-group mt-3">
            <label for="precioMin">Precio mínimo:</label>
            <input type="number" id="precioMin" [(ngModel)]="precioMin" class="form-control" (input)="aplicarFiltros()">
        </div>

        <div class="form-group mt-3">
            <label for="precioMax">Precio máximo:</label>
            <input type="number" id="precioMax" [(ngModel)]="precioMax" class="form-control" (input)="aplicarFiltros()">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 mb-4" *ngFor="let item of productosFiltrados">
            <div class="card">
                <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text"><strong>Autor:</strong> {{ item.author }}</p>
                    <p class="card-text"><strong>Género:</strong> {{ item.genre }}</p>
                    <p class="card-text"><strong>Año:</strong> {{ item.year }}</p>
                    <p class="card-text"><strong>Stock:</strong> {{ item.stock }}</p>
                    <button class="btn btn-primary" (click)="addToCart(item)">Añadir al carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>
